.nav {
    width: 60%;
    margin: 0 auto;
    padding: 20px; /* Add horizontal padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    max-width: 150px; /* Adjust this as needed */
    max-height: 100px; /* Adjust this as needed */
}

.links {
    display: flex;
    justify-content: flex-end;
}


.link, .button {
    background-color: transparent;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.link:hover, .button:hover {
    background-color: #ddd;
}

.active {
    color: #007BFF; /* Change this to the color you want for the active link */
}